.green {
    color: darkgreen;
}

.red {
    color: red;
}

.violet {
    color: purple; 
}

.orange {
    color: orange;
}

.brown {
    color: brown;
}

.icon {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 10px; 
    font-size: 30px;
}